{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["src/*.js", "src/*.jsx"],
      "options": {
        "parser": "babel-flow",
        "useTabs": false,
        "quoteProps": "as-needed",
        "jsxSingleQuote": false,
        "bracketSpacing": true,
        "jsxBracketSameLine": false
      }
    },
    {
      "files": ["src/*.ts", "src/*.tsx", "__tests__/*.ts", "__tests__/*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
